<div class="container">
    <div class="row">
        <h1 mat-dialog-title class="text-center">{{title}}</h1>
        <div>
            <form [formGroup]="addExpenseForm">
                <div class="input-group mb-2">
                    <div class="form-group col-6">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre" id="name"
                            formControlName="name">
                    </div>
                    <div class="col-1"></div>
                    <div class="form-group col-5">
                        <label for="value" class="form-label">Valor</label>
                        <input type="text" class="form-control" placeholder="Ingrese el valor" id="value"
                            formControlName="value">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-group col-6">
                        <label for="date" class="form-label">Fecha: </label>
                        <input type="date" name="date" id="date" class="form-control" formControlName="date">
                    </div>
                    <div class="col-1"></div>
                    <div class="form-group col-5">
                        <label for="paidState" class="form-label">¿Esta pago?</label><br>
                        <input type="checkbox" name="paidState" id="paidState" class="form-check-input" style="margin-left: 45%; width: 1.5vw; height: 2vh;" formControlName="paidState">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="form-label">Descripcion</label>
                    <textarea class="form-control" formControlName="description" id="description" cols="30"
                        rows="5"></textarea>
                </div>
            </form>
        </div>
        <div class="btn-group mt-3">
            <button class="btn btn-success col-4" (click)="action()">{{btnTxt}}</button>
            <div class="col-1"></div>
            <button mat-dialog-close class="btn btn-danger col-4">Cancelar</button>
        </div>
    </div>
</div>